	<form name="loginForm">
		<div class="container">
			<div class="jumbotron">
				<div ng-show="message" class="alert alert-danger">{{message}}</div>				
				<p>{{hex}}</p>
				<p>
					User Name: <input type="text" ng-model="userid" required>
				</p>
				<p>
					Password: <input type="password" ng-model="password" required>
				</p>

				<button type="button" class="btn btn-success"
					ng-disabled="loginForm.$invalid" ng-click="login();">Submit</button>
					
				<ul>
					<li ng-repeat="x in response">{{ x.name + ', ' + x.password }}
					</li>
				</ul>
			</div>
		</div>
	</form>