<h3>Products</h3>

<div ng-show="error" class="alert alert-danger">{{error}}</div>

<form name="productForm" ng-submit="order()" role="form">

	<table class="table table-striped">
		<thead>
			<tr>				
				<th>Product Name</th>
				<th>Desciption</th>
				<th>Price</th>
				<th>Launch Date</th>
				<th>Manufacturer</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in products">			
				<td>{{p.productName}}</td>
				<td>{{p.description}}</td>
				<td>{{p.price}}</td>
				<td>{{p.launchDate}}</td>
				<td>{{p.manufacturer}}</td>
				<td><select ng-model="p.numberOfItems" ng-init="p.numberOfItems = p.numberOfItems || 1"
					ng-options="x for x in Range(1,20)">Quantity
				</select></td>
				<td><button type="button"
						ng-click="addToCart(p.productId,p.productName,p.price,p.numberOfItems)" class="btn btn-primary">Add
						to Cart</button></td>
			</tr>
		</tbody>
	</table>

	<div class="col-sm-6"></div>
	<div class="col-sm-6">
		<div class="panel panel-info" ng-show="cart">
			<div class="panel-heading">Order Summary</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cart">
							<td>{{item.productName}}</td>							
							<td>{{item.quantity}}</td>
							<td>{{item.price}}</td>
							<td>{{item.price*item.quantity}}</td>
						</tr>
						<tr><td colspan="3"><b>Grand Total: </b></td><td>{{grandTotal}}</td></tr>
				</table>
			</div>
			<div class="panel-footer">
			<button type="submit" ng-disabled="dataLoading" class="btn btn-success">Place
		Order</button>
			</div>
		</div>
	</div>




</form>